{%comment%}カスタムセクション{%endcomment%}

<div class="section s_03">
    <div class="accordion_one">
      <div class="accordion_header dict_title stay">
            <div class="i_box"><i class="one_i"></i></div>
            <h1>植物エキス</h1>
        </div>
      <div class="accordion_inner stay">
        <div class="dict_contents_wrap">
            
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Euterpe Oleracea Fruit Extract">
                    <div class="dict_cont modal-open">
                        <p>アサイヤシ果実エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/E001.png?v=1646637262"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Euterpe Oleracea Fruit Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/E001.png?v=1646637262"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">アサイヤシ果実エキス</p>
                                    <p class="inci_name_en">Euterpe Oleracea Fruit Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：ヤシ科</p>
                                        <p>産地：アメリカ</p>
                                        <p>抽出部位：果実</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">アサイヤシの果実から抽出したエキスでアサイーに含まれるポリフェノールの主な成分「アントシアニン」は疲労の回復、抗酸化作用もあり、体内のサビを取り除き肌のダメージを保護。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Persea Gratissima (Avocado) Fruit Extract">
                    <div class="dict_cont modal-open">
                        <p>アボカドエキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/E002.png?v=1646637296"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Persea Gratissima (Avocado) Fruit Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/E002.png?v=1646637296"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">アボカドエキス</p>
                                    <p class="inci_name_en">Persea Gratissima (Avocado) Fruit Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：クスノキ科</p>
                                        <p>産地：メキシコ</p>
                                        <p>抽出部位：果実</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">植物性脂肪とタンパク質を多く含む栄養価の高い果物なので、森のバターともよばれ、糖尿病患者の栄養食として利用されています。 脂肪、タンパク質、糖分、ビタミンＡ、Ｂ、Ｃを含みます。 エモリエント作用、コンディショニング作用があります。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Aloe Barbadensis Leaf Extract">
                    <div class="dict_cont modal-open">
                        <p>アロエベラ葉エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/E003.png?v=1646637322
                            "></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Aloe Barbadensis Leaf Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/E003.png?v=1646637322
                                    "></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">アロエベラ葉エキス</p>
                                    <p class="inci_name_en">Aloe Barbadensis Leaf Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：ツルボラン科（ユリ科）</p>
                                        <p>産地：沖縄宮古島</p>
                                        <p>抽出部位：葉の液汁</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">アロエベラの葉から抽出されたアロエベラ葉エキスには、200種類以上の有効成分が含まれています。肌の潤いを保つ働きや肌を引き締めるなどの効果があることがわかっており、最近では化粧品などにも使われるようになりました。また、サプリメントなどの健康食品にも配合され、胃腸の調子を整える効果や美肌を導く効果があると期待されています。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Ficus Carica (Fig) Fruit Extract">
                    <div class="dict_cont modal-open">
                        <p>イチジク果実エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/E004.png?v=1646637341"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Ficus Carica (Fig) Fruit Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/E004.png?v=1646637341"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">イチジク果実エキス</p>
                                    <p class="inci_name_en">Ficus Carica (Fig) Fruit Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：クワ科</p>
                                        <p>産地：イラン</p>
                                        <p>抽出部位：果実</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">外部要因の肌ダメージの抑制効果や抗酸化効果とヒアルロン酸の合成促進効果を期待することができます。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Scutellaria Baicalensis Root Extract">
                    <div class="dict_cont modal-open">
                        <p>オウゴン根エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/E005.png?v=1646637366"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Scutellaria Baicalensis Root Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/E005.png?v=1646637366"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">オウゴン根エキス</p>
                                    <p class="inci_name_en">Scutellaria Baicalensis Root Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：シソ科</p>
                                        <p>産地：中国</p>
                                        <p>抽出部位：根</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">消炎作用や抗菌作用、保湿作用もあるため頭皮環境を整える効果も期待でます。 皮脂分泌過多の原因でもある男性ホルモンを抑制するため皮脂分泌抑制作用があり、抗炎症作用や抗菌作用もあるため、ニキビの悪化を鎮めたり、ニキビの予防にも期待できます。日本では生薬として知られています。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Panax Ginseng Root Extract ">
                    <div class="dict_cont modal-open">
                        <p>オタネニンジン根エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/E006.png?v=1646637386"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Panax Ginseng Root Extract " class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/E006.png?v=1646637386"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">オタネニンジン根エキス</p>
                                    <p class="inci_name_en">Panax Ginseng Root Extract </p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：ウコギ科</p>
                                        <p>産地：韓国</p>
                                        <p>抽出部位：根</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">オタネニンジンの根の部分からつくれられる高い抗酸化作用をもつ成分です。 代謝と血行を促進する効果と肌の保湿性を高める効果で肌荒れやしわなどの肌トラブルだけでなく、脱毛予防にも効果がると言われています。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Olea Europaea (Olive) Leaf Extract">
                    <div class="dict_cont modal-open">
                        <p>オリーブ葉エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/E007.png?v=1646637412"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Olea Europaea (Olive) Leaf Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/E007.png?v=1646637412"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">オリーブ葉エキス</p>
                                    <p class="inci_name_en">Olea Europaea (Olive) Leaf Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：モクセイ科</p>
                                        <p>産地：ギリシャ</p>
                                        <p>抽出部位：葉の液汁</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">オリーブの葉から抽出したエキスで、様々なウイルスを殺すがヒトの細胞にはダメージを与えない、天然の抗ウイルス剤です。 その他、ほとんどの病原微生物にも優れた効果があることが確かめられており、特に真菌・カンジダ・イースト感染症などにも優れた効果があります。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Cucumis Sativus (Cucumber) Extract">
                    <div class="dict_cont modal-open">
                        <p>キュウリエキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/E008.png?v=1646637433"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Cucumis Sativus (Cucumber) Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/E008.png?v=1646637433"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">キュウリエキス</p>
                                    <p class="inci_name_en">Cucumis Sativus (Cucumber) Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：ウリ科</p>
                                        <p>産地：韓国</p>
                                        <p>抽出部位：果実</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">美白効果、毛穴引き締め効果、消炎効果にも優れ、代謝を促してコンディションを整えるほか、肌に水分を与える保湿効果もあり、キメの細かい肌を目指すために効果的な成分が凝縮されています。多種類のビタミン類を含み、ペクチン、クエン酸などの有機酸、またイソケルセチンなどを含んでいます。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Lycium Chinense Fruit Extract">
                    <div class="dict_cont modal-open">
                        <p>クコ果実エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e009.png?v=1646721342"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Lycium Chinense Fruit Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e009.png?v=1646721342"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">クコ果実エキス</p>
                                    <p class="inci_name_en">Lycium Chinense Fruit Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：ナス科</p>
                                        <p>産地：韓国</p>
                                        <p>抽出部位：果実</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">クコは、古くから滋養強壮、不老効果をもつ果実として食用にされてきました。ゼアキサンチンやビタミンを含むた め、美肌作用が期待されます。抗酸化作用、美白作用、コラゲナーゼ阻害作用が確認されているため、アンチエイジング製品などに使用されています。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Passiflora Edulis Fruit Extract">
                    <div class="dict_cont modal-open">
                        <p>クダモノトケイソウ果実エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e010.png?v=1646721342"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Passiflora Edulis Fruit Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e010.png?v=1646721342"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">クダモノトケイソウ果実エキス</p>
                                    <p class="inci_name_en">Passiflora Edulis Fruit Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：トケイソウ科</p>
                                        <p>産地：日本/熊本（主に）</p>
                                        <p>抽出部位：果実</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">パッションフルーツの果実から抽出されるエキスです。和名では花の形が時計に似ていることから「トケイソウ」と呼ばれ、その中でも果実がつくものは「クダモノトケイソウ」と呼ばれています。
                                        パッションフルーツにはビタミンとミネラルがバランス良く含まれ、生食のほか、ジュースやジャムや香料などに多く用いられています。
                                        化粧品成分としてはリンパ管様構造の形成促進作用、皮膚微小リンパ管内皮細胞の増殖促進によりリンパ液の流れを改善することから、顔のむくみ、くすみをケアする目的で配合されます。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Punica Granatum Extract ">
                    <div class="dict_cont modal-open">
                        <p>ザクロエキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e011.png?v=1646721342"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Punica Granatum Extract " class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e011.png?v=1646721342"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">ザクロエキス</p>
                                    <p class="inci_name_en">Punica Granatum Extract </p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：ミソハギ科</p>
                                        <p>産地：中国</p>
                                        <p>抽出部位：果実</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">ザクロは、古くから「女性の果実」と呼ばれ、健康や美容に効果があるとされている果実です。体に必要なビタミンやミネラル、女性ホルモンのバランスを整えるエストロンが豊富に含まれており、更年期障害による症状の緩和や美肌作用、病気や老化予防、疲労回復など様々な効果が期待されています。ザクロには、ビタミンB₁やビタミンB₂、ビタミンC、ナイアシンなどのビタミン類やカリウム、グルタミン酸やアスパラギン酸などのアミノ酸が豊富に含まれています。また、タンニンやアントシアニン、エラグ酸などのポリフェノールやクエン酸、女性ホルモン様成分エストロンなども豊富に含まれています。
                                        ビタミンCやポリフェノールには強い抗酸化作用があり、紫外線や喫煙、ストレスなど生活の様々な場面で発生する活性酸素を除去し、体が酸化することを防ぐ働きがあります。鉄クギを放置し空気中にさらしておくと鉄クギがサビついてしまいます。この現象が酸化であり、人間の体内で酸化が起こると、病気や老化、肌トラブルの原因となってしまいます。ザクロに含まれるビタミンCやポリフェノールが体内で強い抗酸化作用を発揮して酸化から体を守ることで、病気や老化、肌トラブルが予防されます。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Crocus Sativus Flower Extract ">
                    <div class="dict_cont modal-open">
                        <p>サフランエキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e012.png?v=1646721342"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Crocus Sativus Flower Extract " class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e012.png?v=1646721342"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">サフランエキス</p>
                                    <p class="inci_name_en">Crocus Sativus Flower Extract </p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：アヤメ科</p>
                                        <p>産地：イラン</p>
                                        <p>抽出部位：花</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">非常にデリケートな花であるサフランは、刺激を受けやすい敏感肌をやさしく守ります。<br>
                                        ・皮膚の保湿に必要な自然保湿因子を強化し、プロフィラグリン発現を促進し肌バリアを強化（＝NMF形成も増加）。<br>
                                        ・NF-KBの活性を阻害することにより炎症反応を抑制。<br>
                                        ・TRPV1への抵抗効果をみせ、皮膚の不快感を抑制。<br>
                                        ・脂質過酸化の抑制活動が増加。<br>
                                        ・角質層の赤色班が減少。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Crataegus Cuneata Fruit Extract">
                    <div class="dict_cont modal-open">
                        <p>サンザシエキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e013.png?v=1646721342"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Crataegus Cuneata Fruit Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e013.png?v=1646721342"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">サンザシエキス</p>
                                    <p class="inci_name_en">Crataegus Cuneata Fruit Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：バラ科</p>
                                        <p>産地：中国</p>
                                        <p>抽出部位：果実</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">バラ科の植物のサンザシ（山査子。落葉性の低木）の葉、花、果実から取れるエキスです。乾燥を防いで肌のキメを整えます。保湿作用、くすみ対策、美白作用、収れん作用があります。
                                        サンザシに多く含まれているサポニン、カテキン（フラボノイドの一つ）、ビタミンＣは高い抗酸化、抗老化作用があり、優れたエイジングケア、美白成分と言えます。
                                        また、クエン酸、ミネラル分が豊富で収れん作用、肌荒れ防止作用などがあります。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Paeonia Albiflora Root Extract">
                    <div class="dict_cont modal-open">
                        <p>シャクヤク根エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e014.png?v=1646721342"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Paeonia Albiflora Root Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e014.png?v=1646721342"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">シャクヤク根エキス</p>
                                    <p class="inci_name_en">Paeonia Albiflora Root Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：ボタン科</p>
                                        <p>産地：中国</p>
                                        <p>抽出部位：根</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">シャクヤクの根から得られる抽出エキス。シャクヤクは、ボタン科の植物で、日本、中国各地で薬用、観賞用に古くから栽培される多年草です。 学名の「Paeonia」は、ギリシャ神話の“医の神”の名に由来し、漢方では生薬「芍薬」の名で鎮痛や鎮静、腹痛、婦人病の薬として使用されてきました。 化粧品分野では抗糖化作用が確認されています。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Crataegus Monogyna Fruit Extract ">
                    <div class="dict_cont modal-open">
                        <p>セイヨウサンザシ果実エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e015.png?v=1646721343"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Crataegus Monogyna Fruit Extract " class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e015.png?v=1646721343"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">セイヨウサンザシ果実エキス</p>
                                    <p class="inci_name_en">Crataegus Monogyna Fruit Extract </p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：バラ科</p>
                                        <p>産地：韓国</p>
                                        <p>抽出部位：果実</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">セイヨウサンザシ果実エキスはヨーロッパ、キタアフリカ原産のセイヨウサンザシ(中国では山査子)から抽出した、エキスで、抗酸化、抗炎症、皮膚コンディショニング、保湿、収れん、美白等の機能がある成分です。　　　　　　　　　　　　　　　　　　　　　　　　　　　　セイヨウサンザシの花・果実・葉から抽出された成分には、ビタミン類やタンニン・サポニン・フラボノイド等が多く含まれており抗酸化作用があり、一般的に心臓や利尿のハーブとして利用されてきました。冷え性、むくみ、血圧の正常化、高脂血症や血栓の予防、月経痛などに有効と言われており、利尿作用も多いため、肝機能改善にも効果が期待されています。また最近は更年期障害にともなって起こるさまざまな症状の改善、またアンチエイジングにも高い効果があることも分かり、注目を集めています。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Centella Asiatica Extract">
                    <div class="dict_cont modal-open">
                        <p>ツボクサエキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e016.png?v=1646721343"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Centella Asiatica Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e016.png?v=1646721343"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">ツボクサエキス</p>
                                    <p class="inci_name_en">Centella Asiatica Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：セリ科</p>
                                        <p>産地：韓国</p>
                                        <p>抽出部位：全草</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">植物の＜ツボクサ＞から抽出した成分で、有効成分＜アジアチコサイド＞を95％含みます。 炎症抑制効果・美白効果・肌修復効果を兼ね備えています。 メラニン生成のメカニズムの始まりである炎症を抑制し、抗酸化作用により炎症後の色素沈着を抑制する効果があります。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Rhodomyrtus Tomentosa Fruit Extract">
                    <div class="dict_cont modal-open">
                        <p>テンニンカ果実エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e017.png?v=1646721343"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Rhodomyrtus Tomentosa Fruit Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e017.png?v=1646721343"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">テンニンカ果実エキス</p>
                                    <p class="inci_name_en">Rhodomyrtus Tomentosa Fruit Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：フトモモ科</p>
                                        <p>産地：中国</p>
                                        <p>抽出部位：果実</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">フトモモ科植物テンニンカは、東南アジアの熱帯から亜熱帯地域に広く分布しており、沖縄や台湾などで野生している植物。
                                        和名で天人花(テンニンカ)、中国名で桃金娘(トウキンジョウ)と呼ばれる植物。<br>
                                        ◆紫外線により発生した活性酸素の除去や、生じたDNA損傷の修復機能といった、肌が本来備えている紫外線による肌ダメージの修復・防御能を高める。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--テンニンカ果実エキス-->

            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Angelica Acutiloba Root Extract">
                    <div class="dict_cont modal-open">
                        <p>トウキ根エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e018.png?v=1646721342"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Angelica Acutiloba Root Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e018.png?v=1646721342"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">トウキ根エキス</p>
                                    <p class="inci_name_en">Angelica Acutiloba Root Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：セリ科</p>
                                        <p>産地：日本/北海道</p>
                                        <p>抽出部位：根</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">セリ科植物トウキの根から得られる抽出物。
                                        漢方分野において血行を促進し冷えを除く補血作用があることから、月経不順、月経痛、腹痛、貧血性頭痛などに用いられており、婦人科領域の主薬として非常に多くの処方に配合されている。<br>
                                        ◆チロシナーゼ活性阻害による色素沈着抑制作用<br>
                                        ◆メラノソーム分解促進による沈着色素淡色化<br>
                                        ◆フィラグリン産生促進による保湿作用<br>
                                        ◆MMP-1活性阻害による抗老化作用<br>
                                        ◆血管拡張による血行促進作用</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Houttuynia Cordata Extract">
                    <div class="dict_cont modal-open">
                        <p>ドクダミエキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e019.png?v=1646721342"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Houttuynia Cordata Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e019.png?v=1646721342"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">ドクダミエキス</p>
                                    <p class="inci_name_en">Houttuynia Cordata Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：ドクダミ科</p>
                                        <p>産地：韓国</p>
                                        <p>抽出部位：全草</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">ドクダミとは、東アジア地域に分布する多年草草木で、デカノイルアセトアルデヒドという精油成分やクエルシトリン、イソクエルシトリン、ミネラルなどの成分を含んでいます。 ドクダミは、利尿作用や便秘改善効果、炎症を抑える効果があるほか、血管を丈夫にする働きや美肌に対する効果があります。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Ziziphus Jujuba Fruit Extract">
                    <div class="dict_cont modal-open">
                        <p>ナツメ果実エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e020.png?v=1646721343"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Ziziphus Jujuba Fruit Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e020.png?v=1646721343"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">ナツメ果実エキス</p>
                                    <p class="inci_name_en">Ziziphus Jujuba Fruit Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：クロウメモドキ科</p>
                                        <p>産地：韓国</p>
                                        <p>抽出部位：果実</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">クロウメモドキ科のナツメ（棗）と近縁植物の果実から抽出されたエキスのことで、「タイソウ（大棗）エキス」とも呼ばれます。<br>
                                        リンゴ酸、酒石酸塩、鉄、カルシウム、サポニンなどが含まれており、保湿、収れん、抗炎症作用があります。ナツメ果実エキスは「サイクリックAMP」という成分を含有しています。<br>
                                        これは肌細胞を活性化させ、本来の機能を高める働きがあるとされており、リンゴ酸のピーリング作用、酒石酸塩の収れん作用、サポニンの代謝促進作用と合わせて肌を若返らせる効果を生みます。<br>
                                        美容液やパック、アンチエイジング化粧品、ヘアケア製品などは、その効果を狙ったものが多くなっています。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Rosa multiflora（Japanese rose）">
                    <div class="dict_cont modal-open">
                        <p>ノイバラ果実エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e021.png?v=1646725479"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Rosa multiflora（Japanese rose）" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e021.png?v=1646725479"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">ノイバラ果実エキス</p>
                                    <p class="inci_name_en">Rosa multiflora（Japanese rose）</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：バラ科</p>
                                        <p>産地：中国</p>
                                        <p>抽出部位：果実</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">複雑な原因からおこる目立ち毛穴（たるみや開きなど）にマルチに働きかけ、毛穴の見た目に変化をもたらします。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Ananas Sativus (Pineapple) Fruit Extract">
                    <div class="dict_cont modal-open">
                        <p>パイナップル果実エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e022.png?v=1646725480"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Ananas Sativus (Pineapple) Fruit Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e022.png?v=1646725480"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">パイナップル果実エキス</p>
                                    <p class="inci_name_en">Ananas Sativus (Pineapple) Fruit Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：パイナップル科</p>
                                        <p>産地：韓国</p>
                                        <p>抽出部位：果実</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">セラミドを合成する酵素として知られるセリンパルミトイルト ランスフェラーゼ（SPT）mRNAの発現を促進する作用、つまり、セラミドを作り出すのを手助けするはたらきがあります。 セラミドを作り出すことができれば、お肌の水分量がアップ、バリア機能を取り戻す効果が期待されます。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Coix Lacryma-Jobi Ma-yuen Seed Extract">
                    <div class="dict_cont modal-open">
                        <p>ハトムギ種子エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e023.png?v=1646725479"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Coix Lacryma-Jobi Ma-yuen Seed Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e023.png?v=1646725479"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">ハトムギ種子エキス</p>
                                    <p class="inci_name_en">Coix Lacryma-Jobi Ma-yuen Seed Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：イネ科</p>
                                        <p>産地：韓国</p>
                                        <p>抽出部位：種</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">中国・インドシナ地方の原産で、日本には古くに渡来し、西南部の暖地で栽培されています。<br>
                                        ハトが好んで食べることからハトムギと名づけられ、中国では数千年前から食用にされていました。<br>
                                        現在、煎じて飲む、炊いて食べる、肌に塗るなど、化粧品や健康食品、薬膳の分野で用いられ、特に美肌効果が注目を集めています。ハトムギは精米に比べて2倍以上ものたんぱく質を含み、そのほかにも脂質やカルシウム、鉄分、ビタミンＢ1、ビタミンＢ2などを豊富に含め、デトックス効果、美肌効果などが期待できます。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Brassica Oleracea Italica (Broccoli) Extract">
                    <div class="dict_cont modal-open">
                        <p>ブロッコリーエキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e024.png?v=1646725479"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Brassica Oleracea Italica (Broccoli) Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e024.png?v=1646725479"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">ブロッコリーエキス</p>
                                    <p class="inci_name_en">Brassica Oleracea Italica (Broccoli) Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：アブラナ科</p>
                                        <p>産地：韓国</p>
                                        <p>抽出部位：果実</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">ビタミンAとCが豊富で、美白ケアや色素沈着予防にも効果があります。 酸化ストレスからの保護や皮膚バリア機能改善にも期待でき、肌のくすみ汚れや皮脂汚れを除去し毛穴を引き締める効果もあります。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Paeonia suffruticosa">
                    <div class="dict_cont modal-open">
                        <p>ボタンエキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e025.png?v=1646725480"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Paeonia suffruticosa" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e025.png?v=1646725480"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">ボタンエキス</p>
                                    <p class="inci_name_en">Paeonia suffruticosa</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：ボタン科</p>
                                        <p>産地：中国</p>
                                        <p>抽出部位：根皮</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">中国では「花王」と呼ばれ、古くから観賞用や薬用植物として栽培されてきたボタンの根皮「ボタンピ」より抽出されるエキス。漢方では鎮静や鎮痛、駆お血薬として、頭痛や月経不順に用いられています。化粧品分野では抗炎症、美白、抗酸化、血流促進、育毛効果の有効性が高いことが確認されています。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Lithospermum Officinale Root Extract ">
                    <div class="dict_cont modal-open">
                        <p>ムラサキ根エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e026.png?v=1646725480"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Lithospermum Officinale Root Extract " class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e026.png?v=1646725480"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">ムラサキ根エキス</p>
                                    <p class="inci_name_en">Lithospermum Officinale Root Extract </p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：ムラサキ科</p>
                                        <p>産地：韓国</p>
                                        <p>抽出部位：根</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">紫根エキスは、ムラサキ草の根を乾燥させ、煮出して抽出されたもの。その主成分である「シコニン」は、様々な美肌効果をもたらします。<br>
                                        シコニンが持つ抗炎症作用は、肌で起きた炎症を抑える効果があります。また、傷の治りを促進させる効果により、肌荒れによる損傷を修復してくれるのも嬉しいところ。負担がかかった肌のバリア機能を高め、正常なターンオーバーのサイクルに戻す手助けをしてくれます。シコニンの抗菌作用は、ニキビ・吹き出物の原因であるアクネ菌の増殖を抑制する効果があります。肌を清潔に保つだけでなく、抗炎症作用によってニキビ・吹き出物の炎症を抑える効果も。ニキビ・吹き出物の改善と予防にダブルアプローチしてくれます。年齢を追うごとに気になるシミやくすみ。シコニンは、肌のターンオーバーを正常に整えることで、シミ・くすみの原因となるメラニンの排出を促します。シコニンの皮膚再生作用は、肌の血行を促進して新しい細胞を増やし、皮膚の新陳代謝を上げるメカニズムによるもの。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Prunus Persica (Peach) Leaf Extract">
                    <div class="dict_cont modal-open">
                        <p>モモ葉エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e027.png?v=1646725479"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Prunus Persica (Peach) Leaf Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e027.png?v=1646725479"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">モモ葉エキス</p>
                                    <p class="inci_name_en">Prunus Persica (Peach) Leaf Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：バラ科</p>
                                        <p>産地：中国</p>
                                        <p>抽出部位：葉</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">バラ科植物モモ葉から抽出されたエキスです。 成分としてはタンニン等を含み活性酸素消去作用が認められ、老化予防化粧品等に広く使用されています。 モモの葉は、古くから湿疹に効果があるとされています。 モモ葉エキスには、ヒアルロニダーゼ活性やヒスタミン遊離抑制効果などにより、抗アレルギー作用や抗炎症作用があります。
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Litchi Chinensis Pericarp Extract">
                    <div class="dict_cont modal-open">
                        <p>ライチー果皮エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e028.png?v=1646725480"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Litchi Chinensis Pericarp Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e028.png?v=1646725480"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">ライチー果皮エキス</p>
                                    <p class="inci_name_en">Litchi Chinensis Pericarp Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：ムクロジ科</p>
                                        <p>産地：ベトナム</p>
                                        <p>抽出部位：果皮</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">ライチ種子エキスは、コラーゲンやエラスチン、ヒアルロン酸を分解する酵素を阻害し、コラーゲンやエラスチン、ヒアルロン酸の減少を抑制するとともに、ヒトの線維芽細胞のコラーゲン産生を促進します。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dict_contents">
                <a class="js-modal-open dict_cont_a" data-target="Pyrus Malus (Apple) Fruit Extract">
                    <div class="dict_cont modal-open">
                        <p>リンゴ果実エキス</p>
                        <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e029.png?v=1646725480"></div>
                        
                    </div>
                </a>
                <!-- モーダル本体 -->
                <div id="Pyrus Malus (Apple) Fruit Extract" class="modal js-modal">
                    <div class="modal__bg js-modal-close"></div>
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <div class="js-modal-close">×</div>
                            <div class="modal-content_inner">
                                <div class="dict_img"><img src="https://cdn.shopify.com/s/files/1/0628/7618/8896/files/e029.png?v=1646725480"></div>
                                <div class="modal-content_title">
                                    <p class="inci_name_jp">リンゴ果実エキス</p>
                                    <p class="inci_name_en">Pyrus Malus (Apple) Fruit Extract</p>
                                </div>
                            </div>
                            <div class="modal-content_bottom" >
                                <div class="modal-bottom_inner">
                                    <div class="dict_detail">
                                        <p>科名：バラ科</p>
                                        <p>産地：韓国</p>
                                        <p>抽出部位：果実</p>
                                    </div>
                                    <p class="modal-bottom_inner_p">リンゴ果実エキスは、リンゴ酸やクエン酸が含まれている事で、天然のピーリング作用があるため、肌を柔らかくする機能があります。また成分のタンニンが含まれているため、毛穴や皮膚線の引き締め、収れん効果が期待できます。そして、リンゴ果実エキスは、抗酸化作用があるため活性酸素を抑制するため、エイジングケア効果が期待できます。また、紫外線防止効果、抗アレルギー機能などがあります。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
        
      </div>
    </div>
    
  </div>



  {% schema %}
  {
  "name":"Dictionary-accordionエキス",
      "presets":[
      {
        "name":"Dictionary-accordionエキス",
        "category":"カスタムパーツ"
      }]
    }
  {% endschema %}
  
  
  {% style %}
 
  /*dict*/
.dict_wrap{
    width:100%;
    margin-top:60px;
    margin-bottom:60px;
}
.dict_wrap p{
    color:#777777;
    line-height: 1.6;
    letter-spacing: 0.2px;
    margin: 10px 0;
}
.dict_inner{
    width:60%;
    margin-left:auto;
    margin-right:auto;
}
.dict_title h1{
    background-color: #231815;
    color: #fff;
    padding-left: 3rem;
    font-size: 16px!important;
}
.dict_contents_wrap{
    width:95%;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    
}
.dict_contents{
    width:22%;
    text-align: center;
    margin-left: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

.dict_contents:not(:nth-child(4n+4)) {
    margin-right: 4%;
  }
 /* 
  .dict_contents:nth-child(n+5) {
    margin-top: 30px;
  }*/

@media screen and (max-width:800px ) {
    .dict_inner{
        width:80%;
    }
    .dict_contents{
        width:32%;
        text-align: center;
        margin-bottom: 40px;
    }
    .dict_contents:not(:nth-child(4n+4)) {
        margin-right: 0;
      }
    .dict_contents:not(:nth-child(3n+3)) {
        margin-right: 2%;
      }
      .dict_contents:nth-child(n+5) {
        margin-top: 0;
      }
      
      .dict_contents:nth-child(n+4) {
        margin-top: 20px;
      }

}
@media screen and (max-width:600px ) {
    .dict_contents_wrap{
        justify-content:space-between;
    }
    .dict_contents{
        width:45%;
        text-align: center;
        margin-bottom: 40px;
    }
    .dict_contents:not(:nth-child(4n+4)) {
        margin-right: 0;
      }
    .dict_contents:not(:nth-child(3n+3)) {
        margin-right: 0;
      }

      .dict_contents:nth-child(n+5) {
        margin-top: 0;
      }
      
      .dict_contents:nth-child(n+4) {
        margin-top: 20px;
      }

}
.dict_cont_a{
    cursor:pointer;
   

}
.dict_cont:hover{
    opacity: 0.8;
    
}
.dict_cont a{
    color:#231815;
}
.dict_cont .dict_img{
    width:100%;
    
}
.dict_cont .dict_img img{
    width:70%;
    height:auto; 
    margin:0 auto;
}

/************モーダル************/
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 10;
}
.modal__bg{
    background: rgba(0,0,0,0.5);
    height: 100vh;
    position: absolute;
    width: 100%;
}
/*モーダル中身*/
.modal__content{
    background: #fff;
    position: absolute;
    left: 50%;
    padding: 40px;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}

.modal-content_inner{
    border-bottom:1px solid #666;
}
.modal-content_title{
    width:60%;
    margin:1rem auto;
}
.modal-content_title h3{
    margin:0!important;
}
.modal-content_title p{
    margin:0!important;
}

.dict_img{
    width: 40%;
    margin-left:auto;
    margin-right:auto;
}
.dict_img img{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}
.modal-content_bottom{
    width:100%;
}
.modal-bottom_inner{
    width:90%;
    margin:1rem auto;

}
.dict_detail p{
    margin: 0!important;
}


.js-modal-close {
    text-align: right;
    font-size: 2rem;
    cursor: pointer;
}

/*モーダル枠の指定*/
.modal-body{
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	max-width: 500px;
	max-height: 95vh;
    width: 90%;
    top: 50%;
    left: 50%;
    overflow: scroll;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}

/*モーダル内のコンテンツの指定*/
.modal-content{
	background: #fff;
	text-align: left;
	padding: 10px 30px;

}

/* モーダルウィンドウ表示中に記事本体を固定 */
body.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
  }

/********************************/

@media screen and (max-width:800px ) {
    .modal-content_title {
        width: 80%;
        margin: 1rem auto;
    }
    .modal-body {
        max-height: 80vh;
        width: 90%;
    }
    .modal-content {
        background: #fff;
        text-align: left;
        padding: 10px 20px;
    }
    .modal-bottom_inner {
        width: 95%;
        margin: 1rem auto;
    }

}



/*====================================================================
.s_03 .accordion_one
====================================================================*/
.s_03 .accordion_one {
    width: 70%;
    margin: 0 auto;
}
    .s_03 .accordion_one .accordion_header {
        position: relative;
        padding-left: 10%;
        z-index: +1;
        cursor: pointer;
        transition-duration: 0.2s;
        background-color: #9db3c3;
        padding:0;
        border-bottom: 1px solid #fff;
    }
    .s_03 .accordion_one:nth-of-type(2) .accordion_header {
        background-color: #9db3c3;
    }
    .s_03 .accordion_one:nth-of-type(3) .accordion_header {
        background-color: #9db3c3;
    }
    .s_03 .accordion_one .accordion_header:hover {
    opacity: .8;
    }
    .s_03 .accordion_one .accordion_header .i_box {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 0;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        box-sizing: border-box;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        transform-origin: center center;
        transition-duration: 0.2s;
    }
    .s_03 .accordion_one .accordion_header.stay .i_box {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    .s_03 .accordion_one .accordion_header .i_box .one_i {
    display: block;
    width: 18px;
    height: 18px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: center center;
    transition-duration: 0.2s;
    position: relative;
    }
    .s_03 .accordion_one .accordion_header.stay .i_box .one_i {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    .s_03 .accordion_one .accordion_header.stay.open .i_box .one_i {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    .s_03 .accordion_one .accordion_header.open .i_box {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    }
    .s_03 .accordion_one .accordion_header.stay.open .i_box {
    -webkit-transform: rotate(315eg);
    transform: rotate(315deg);
    }
    .s_03 .accordion_one .accordion_header .i_box .one_i:before, .s_03 .accordion_one .accordion_header .i_box .one_i:after {
        display: flex;
        content: '';
        background-color: #fff;
        border-radius: 10px;
        width: 12px;
        height: 1px;
        position: absolute;
        top: 8px;
        left: 3.5px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transform-origin: center center;
    }
    .s_03 .accordion_one .accordion_header .i_box .one_i:before {
        width: 1px;
        height: 12px;
        top: 2.7px;
        left: 8.9px;
    }
    
    .s_03 .accordion_one .accordion_header.stay .i_box .one_i:before {
    content: none;
    }
    .s_03 .accordion_one .accordion_header.open .i_box .one_i:before {
    content: none;
    }
    .s_03 .accordion_one .accordion_header.stay.open .i_box .one_i:before {
    content: "";
    }
    .s_03 .accordion_one .accordion_header.open .i_box .one_i:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
    .s_03 .accordion_one .accordion_header.stay.open .i_box .one_i:after {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    .s_03 .accordion_one .accordion_inner {
        display: none;
        padding: 30px 0;
        box-sizing: border-box;
    }
    .s_03 .accordion_one .accordion_inner.stay {
    display: block;
    }
    @media screen and (max-width: 1024px) {
    .s_03 .accordion_one .accordion_header {
    font-size: 18px;
    }
    .s_03 .accordion_one .accordion_header .i_box {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    }
    }
    @media screen and (max-width: 767px) {
    .s_03 .accordion_one .accordion_header {
    font-size: 16px;
    text-align: left;
    }
    .s_03 .accordion_one {
        width: 80%;
        margin: 0 auto;
    }
    }
    @media screen and (max-width: 600px) 
    {
        .s_03 .accordion_one {
            width: 90%;
            margin: 0 auto;
        }
    }
    
  {% endstyle %}

  

