<div 
    class="social-widget-wrapper" data-widget-id="41153">
</div>

{% schema %}
{
"name":"insta_custom",
"settings":[
    ],
    "presets":[
    {
    "name":"insta_custom",
    "category":"カスタムパーツ"
    }]
}
{% endschema %}